@font-face {
    font-family: "Game";
    src : url("./Game.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: rgba(0, 0, 0, 0.549);                                           
} */


.container {
    display: flex;
    text-align: center;
    height: 100vh;
}

/* ----------------Gestion des côtés de page index ------------------ */

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    background-color: #000000e0;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("./images/wp4815748-game-of-thrones-iron-throne-mobile-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------Animation de la page d'accueil ------------------ */

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.a1 {
    animation-delay: 1.8s;  
}

.a2 {
    animation-delay: 2s;
}

@keyframes move {
    0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    }

    100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    }
}

@keyframes left {
    0% {
    opacity: 0;
    width: 0;
    }

    100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
    }
}

h1{
    color: #c2ad77;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #333;
    font-family: 'Game';   
    text-decoration-line: none;
}

li{
    list-style-type: none;
    padding: 10px;
    margin-top: 5px;
}

li a{
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px #333;
    text-decoration: none;
    font-size: 18px;
}

li a:hover{
    color: #c2ad77;
}

container_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="submit"]{
    background-image: linear-gradient(to right, #000000e0  0%, #c2ad77   51%, #000000e0   100%);
    margin: 10px;
    width: 200px;
    border: 0;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

fieldset{
    padding: 20px;
}