<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'election/style.css' %}">
</head>
<body>
    <form action="{% url 'election:vote' election.id %}" method="post">
    {% csrf_token %}
    <fieldset>
            <legend><h1>{{ election.election_name }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for dictateur in election.dictateur_set.all %}
                <input type="radio" name="dictateur" id="dictateur{{ forloop.counter }}" value="{{ dictateur.id }}">
                <label for="dictateur{{ forloop.counter }}">{{ dictateur.dictateur_name }} {{ dictateur.dictateur_maison }}</label><br>
            {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    <a href="{% url 'election:liste' election.id %}"> Liste des candidats</a>
    </form>
</body>
</html>