<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'election/style.css' %}">
    <title>Liste des dictateurs</title>
</head>
<body>
    <h1>Liste des dictateurs en lice</h1>
    <div class="container_list">
        {% for dictateur in election.dictateur_set.all %}
            <li>{{ dictateur.dictateur_name }} {{ dictateur.dictateur_maison }} <br>
                {% if dictateur.dictateur_avatar %}
                    <img src="{{ dictateur.dictateur_avatar.url }}"><br>
                {% endif %} 
                <strong>Politique :</strong> {{ dictateur.dictateur_regime }} <br>
                <strong>Slogan :</strong> {{ dictateur.dictateur_regime.regime_description }}<br>
                {% if dictateur.dictateur_blason %}
                    <strong>Blason :</strong><br><img src="{{ dictateur.dictateur_blason.url }}"><br>
                {% endif %} 
            </li><br>
        {% endfor %}    
        </ul>
    </div>
    <ul>
    <a href="{% url 'election:detail' election.id %}"> Revenir aux votes</a>
</body>
</html>