<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultat</title>
</head>
<body>
    <h1>{{ election.election_name }}</h1>
    <ul>
    {% for dictateur in election.dictateur_set.all %}
        <li>{{ dictateur.dictateur_name }} {{ dictateur.dictateur_maison }}<br>
            {% if dictateur.dictateur_avatar %}
                <img src="{{ dictateur.dictateur_avatar.url }}"><br>
            {% endif %} 
            {{ dictateur.votes }} vote{{ dictateur.votes|pluralize }}
        </li><br>
    {% endfor %}    
    </ul>

    <a href="{% url 'election:detail' election.id %}"> Voter à nouveau ?</a>
</body>
</html>